 @import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

 * {

     font-family: 'Space Mono';
     padding: auto;

 }

 .title {
     padding: 40px 0px 200px 40px;
     color: #333;
     font-size: 24px;
     font-weight: 700;
 }

 .error {
     display: flex;
 }

 .error-banner {
     width: 50vw;
     margin: 5px;
 }

 .error-text {
     width: 60%;
     margin-left: 70px;
 }

 .error-heading {
     color: #333;
     font-size: 64px;
     font-weight: 700;
 }

 .error-detail {
     color: #333;
     font-size: 24px;
     font-weight: 400;
     text-align: justify;

 }

 .BTN {
     background-color: #333;
     color: #FFF;
     font-size: 14px;
     font-weight: 700;
     padding: 24px 43px;
     text-decoration: none;
 }

 footer {
     text-align: center;
     color: #BDBDBD;
     font-size: 14px;
     font-weight: 500;
     margin-top: 20%;
 }

 footer a {
     text-decoration: none;
     color: #BDBDBD;
     font-weight: 700;
 }