 @import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

 * {

     font-family: 'Space Mono';
     padding: auto;

 }

 .title {
     padding: 40px 0px 200px 40px;
     color: #333;
     font-size: 24px;
     font-weight: 700;
 }

 .error {
     display: flex;
 }

 .error-banner {
     width: 50vw;
     margin: 5px;
 }

 .error-text {
     width: 60%;
     margin-left: 70px;
 }

 .error-heading {
     color: #333;
     font-size: 64px;
     font-weight: 700;
 }

 .error-detail {
     color: #333;
     font-size: 24px;
     font-weight: 400;
     text-align: justify;
     margin-bottom: 84px;

 }

 .BTN {
     background-color: #333;
     color: #FFF;
     font-size: 14px;
     font-weight: 700;
     padding: 24px 43px;
     text-decoration: none;
 }

 footer {
     text-align: center;
     color: #BDBDBD;
     font-size: 14px;
     font-weight: 500;
     margin-top: 20%;
 }

 footer a {
     text-decoration: none;
     color: #BDBDBD;
     font-weight: 700;
 }

 @media screen and (min-width:319px) and (max-width:426px) {

     .error {
         flex-direction: column;
     }

     .error-banner {
         width: 100%;
         margin-bottom: 15%;
     }

     .error-heading {
         font-size: 200%;
     }

     .error-detail {
         font-size: 100%;
     }

     .BTN {
         padding: 10%;
     }


 }

 @media screen and (min-width:767px) and (max-width:1024px)and(max-height:1024) {
     * {
         margin-right: 10px;
     }

     .error-banner {
         height: 70%;

     }

     .error-heading {
         font-size: 300%;
     }
 }

 @media screen and (min-width:2000px) and (max-width:2560px) {

     .error-heading {
         font-size: 500%;
     }

     .error-detail {
         font-size: 300%;
     }

     .BTN {
         font-size: 150%;
     }

     footer {
         font-size: 140%;
     }

 }